@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');
@import "tailwindcss";

/*================== UTILITY ==================*/

@theme {
  --color-flamingo: #eb5243;
  --color-sunset: #fac19c;
  --color-peach: #faa59c;  
  --color-bg1: #fffbf4;
  --color-bg2: #fff6f0;
}

:root {
  font-size: 16px;
  --bgwhite: #fffffe;
  --mainred: #db1d1d;
  --darkred: #b81818; /*rgba(150, 33, 2, 1)*/
  --mainblack: #140808;
  --maingray: #8b8b8b;
  --color-main: #eb5243;
  --color-light1: #fac19c;
  --color-light2: #faa59c;
  --color-bg1: #fffbf4;
  --color-bg2: #fff6f0;
  --color-shadow: #696969;
}

* {
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s ease-in-out;
}

.hide {
    display: none;
}

.noselect {
  user-select:none;
}

/*================== SECTIONS (DIVS, ETC.) ==================*/

body {
  background: linear-gradient(var(--color-bg1), var(--color-bg2));
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

div, nav {
    display: flex;
    flex-direction: column;
}

nav {
  margin-top: 0.1em;
}

/*================== TYPOGRAPHY ==================*/

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

/* FOr reference of sizing */
/* h1 { 
  @apply text-8xl
}
h2 {
  @apply text-3xl
}
h3 {
  @apply text-2xl
}
p {
  @apply text-base
}

@media screen and (max-width:640px) {
  h1 {@apply text-7xl}
  h2 {@apply text-2xl}
  h3 {@apply text-xl}
} */



.floating {
  transition: transform 0.1s ease-out, box-shadow 0.3s ease-out;
}
.floating:hover{
  transform: translateY(-2px);
  box-shadow: 0 4px 2px rgba(0,0,0,0.2); /* Adds shadow for depth */
}
.floating:active{
  transform:translateY(2px);
}