:root {
    --bgwhite: #fffffe;
    --mainred: #962102;
    --mainblack: #140808;
    --maingray: #8b8b8b;
}

/* Utility */
.hide {
    display: none;
}

body {
    background-color: var(--bgwhite);
    font-family:sans-serif;
    padding:5%;
    display: flex;
    flex-direction: column;
}

div, nav {
    display: flex;
    flex-direction: column;
}


/* fonts */

.nomargin {
  margin:0;
}

h1, h2 {
    color: var(--mainred);
}

p, h3 {
    color: var(--mainblack);
    line-height:1.30;
    font-weight:normal;
}

h1 {font-size:220%} /*original: 200%*/
h2 {font-size: 170%} /*origina: 150%*/
h3 {font-size: 150%} /*original: ~120%*/
p {font-size: 110%} /*original:100%*/

a {
    text-decoration:none;
    color: inherit;
    padding:2px;
}

a:hover, a:active {
    color: var(--bgwhite);
    background-color: var(--mainred);
    padding:2px;
}

/* nav styles */

.hamburger {
    cursor: pointer;
    display:flex;
    flex-direction:column;
    margin-left:auto;
}

.hamburger .line {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: var(--mainred);
}

.nav-links {
    display:none;
}

.nav-links p {
    width: 100%;
    top: 5rem;
    left: 48px;
    margin-left: auto;
    text-align: right;
    color:var(--mainred);
    font-size:120%;
}

.nav-links a {
  text-align: center;
  text-decoration: none;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: flex;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
  }

  .nav-links br {
    display: none;
  }

  .hamburger {
    display: none;
  }

}

/* other classes */
.noselect {
  user-select:none;
}


.floating {
  transition: transform 0.1s ease-out, box-shadow 0.3s ease-out;
}
.floating:hover{
  transform: translateY(-1px);
  box-shadow: 0 4px 2px rgba(0,0,0,0.2); /* Adds shadow for depth */
}
.floating:active{
  transform:translateY(1px);
}