@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');
@import "tailwindcss";

/*================== UTILITY ==================*/

@theme {
  --color-flamingo: #eb5243;
  --color-sunset: #fac19c;
  --color-peach: #faa59c;  
}

:root {
  font-size: 16px;
  --bgwhite: #fffffe;
  --mainred: #db1d1d;
  --darkred: #b81818; /*rgba(150, 33, 2, 1)*/
  --mainblack: #140808;
  --maingray: #8b8b8b;
  --color-main: #eb5243;
  --color-light1: #fac19c;
  --color-light2: #faa59c;
  --color-bg1: #fffbf4;
  --color-bg2: #fff6f0;
  --color-shadow: #696969;
}

* {
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s ease-in-out;
}

.hide {
    display: none;
}

/*================== SECTIONS (DIVS, ETC.) ==================*/

body {
  background: linear-gradient(var(--color-bg1), var(--color-bg2));
    /* background: radial-gradient(circle at top left, var(--color-flamingo),var(--color-sunset),var(--color-peach)); */
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

div, nav {
    display: flex;
    flex-direction: column;
}

nav {
  margin-top: 0.1em;
}

/*================== TYPOGRAPHY ==================*/

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}
h1 { /* Exclusively for big titles*/
  @apply text-8xl
}
h2 { /* Header */
  @apply text-3xl
}
h3 { /* Sub-header */
  @apply text-2xl
}
p {
  @apply text-base
}

@media screen and (max-width: 636px) {
  h1 {@apply text-7xl}
  h2 {@apply text-2xl}
  h3 {@apply text-xl}
}

/*
.nomargin {
  margin:0;
}

.bold {
  font-weight:bold;
}

h2.title {
  font-weight: bold;
  padding: 0;
  margin: 0;
}

h1.title {
  font-weight: bold;
  margin-top: 0;
}

p.foreword {
  margin-top:5%;
}


h1, h2 {
    color: var(--mainred);
}

p, h3 {
    color: var(--mainblack);
    line-height:1.30;
    font-weight:normal;
}

h1 {font-size:220%} /*original: 200%*/
/* h2 {font-size: 170%} origina: 150% */
/* h3 {font-size: 150%} original: ~120% */
/* p {font-size: 110%} original:100% 
*/

/* 
a {
    text-decoration:none;
    color: var(--color-main);
    padding:1px;
}

a:hover, a:active {
    color: white;
    background-color: var(--color-main);
    cursor:help;
} */

/* nav styles */

.nav-links {
    display:none;
    /* margin-bottom: 1em; */
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: flex;
    position: static;
    width: auto;
    background: none;
    color:var(--maingray);
  }

  /* .nav-links p {
    color: var(--maingray);
  }

  .nav-links a {
    display: inline-block;
    color: var(--maingray);
  }
  .nav-links a:hover {
    background-color: transparent;
    color:var(--mainred);
    text-decoration: underline;
  } */
}

/* other classes */
.noselect {
  user-select:none;
}


.floating {
  transition: transform 0.1s ease-out, box-shadow 0.3s ease-out;
}
.floating:hover{
  transform: translateY(-2px);
  box-shadow: 0 4px 2px rgba(0,0,0,0.2); /* Adds shadow for depth */
}
.floating:active{
  transform:translateY(2px);
}