---
import BaseLayout from '../layouts/BaseLayout.astro';
import TextLink from '../components/TextLink.astro';
import RedParticles from '../components/playground/RedParticles.astro';

const name = "Davis!";
---

<style>
	body { 
    	background: radial-gradient(circle at top left,
									var(--color-main),
									var(--color-light1),
									var(--color-light2));
		
	}
	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
	.subtext {
		padding-top: 2em;
		font-size:110%;
	}
	@media screen and (min-width: 636px) {
		br {
			display: unset;
		}
	}
</style>

<BaseLayout pageTitle="">
	<!-- <RedParticles 
		particleCount={40} 
  	/> -->

	<div class="container">
		<h2 class="text-white font-bold [text-shadow:0_3px_10px_var(--color-shadow)] noselect">Hi, I am</h2>
		<h1 class="text-white font-bold italic [text-shadow:0_3px_10px_var(--color-shadow)] noselect">{name}</h1>
		<h4 class="text-lg text-white font-bold [text-shadow:0_3px_6px_var(--color-shadow)]">science . ideas. photos</h4>
<!-- 
		<p class="subtext">
			I am a Filipino <TextLink url="/me" text="international student" isBold={true}/>
			based in Kyoto.

			<br class="hide"/>
			an avid <TextLink url="/thoughts" text="sinigang eater" isBold={true}/>,
			and a <TextLink url="/photos" text="scenery catcher" isBold={true}/>.
			
			<br/><br/>
			
			ようこそ 👋
		</p> -->
	</div>
</BaseLayout>

