---
import { Image } from 'astro:assets';
/*======== LAYOUT ========*/
import BaseLayout from '../layouts/BaseLayout.astro';
/*======== TYPOGRAPHY ========*/
import Paragraph from '../components/typography/Paragraph.astro';
import Link from '../components/typography/Link.astro';
/*======== COMPONENTS ========*/
import Button from '../components/buttons/Button.astro';
/*======== ASSETS ========*/
import mePhoto from '../assets/me.jpg'; 
import GitHubIcon from '../assets/GitHubIcon.astro';
import InstagramIcon from '../assets/InstagramIcon.astro';
import LinkedInIcon from '../assets/LinkedInIcon.astro';
const iconClass = "w-6 h-6";
---

<style>
    
    .section {
        margin-top: 1em;
        margin-bottom: 2%;
    }

    .sectiondesc {
        margin-top: 0;
        margin-bottom: 1em;
        display:none
    }

    @media screen and (min-width: 700px) {
        .container {
            margin-top: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 2vw; 
            width: 100%;       
        }
        .container div {
            display:block;
        }
        .sectiondesc {
            display:block;
        }
    }
</style>

<BaseLayout siteTabText="me">
    
    <div class="mb-8 flex flex-col sm:flex-row items-center justify-center gap-4">
        <Image 
            src={mePhoto}
            width={200}
            alt="me photo"
            class="rounded-full"
        />
        <div class="flex-col">
            <h1 class="text-4xl sm:text-5xl font-bold text-center sm:text-left
                        bg-gradient-to-l from-flamingo to-peach text-transparent bg-clip-text">
                Davis Nicholo <br> Magpantay
            </h1>
            <h1 class="text-lg sm:text-xl mt-2 font-bold text-center sm:text-left
                        bg-gradient-to-l from-flamingo to-peach text-transparent bg-clip-text">
                <i>デイヴィス・ニコロ・<br class="hidden sm:inline md:hidden">マグパンタイ</i>
            </h1>
        </div>
    </div>

    <div class="flex justify-center">
        <div class="max-w-144 flex-col">
            <Paragraph>
                I'm a Filipino<Link href="/me/">international student</Link>based in Japan,
                an avid<Link href="/thoughts/"><i>sinigang</i> eater</Link>, and a hobbyist<Link href="/photos/">scenery catcher</Link>.
            </Paragraph>

            <Paragraph>
                As a 1st year Chemical Engineering undergrad at<Link href="https://www.kyoto-u.ac.jp/en">Kyoto University (京都大学)</Link>
                supported by<Link href="https://www.iup.kyoto-u.ac.jp/">Kyoto iUP</Link>
                and the<Link href="https://www.mgc.co.jp/foundation/eng/">Mitsubishi Gas Chemical Memorial Foundation</Link>,
                I'm currently interested in studying the intersection of materials and computation.
                I've previously<Link href="/tinker/">dabbled</Link> on projects that
                span chemistry-related software. engineering, and even math modeling.
            </Paragraph>

            <Paragraph>
                For more details, check out my<Link href="https://docs.google.com/document/d/1KXJEWt627nFji5kxMUQj4V-VpzK9vBnUJcHAE78RGC0/edit?usp=sharing">resume</Link>(you 
                may reach me at the email indicated).
                Also, feel free to check out my other platforms:
            </Paragraph>

            <div class="gap-4 flex-wrap">
                <Button href="https://github.com/Dexva/">
                    <GitHubIcon classlist={iconClass}/>
                    <span>GitHub</span>
                </Button>

                <Button href="https://www.instagram.com/haiiamdavis?igsh=MWZsaGk4ZGQyZzhrcg==">
                    <InstagramIcon classlist={iconClass}/>
                    <span>Instagram</span>
                </Button>

                <Button href="https://www.linkedin.com/in/davis-nicholo-magpantay-986ba2249/">
                    <LinkedInIcon classlist={iconClass}/>
                    <span>LinkedIn</span>
                </Button>
            </div>
        </div>
    </div>


    
    

</BaseLayout>

