---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<style>
</style>

<BaseLayout pageTitle="photos">
    <h2 class="nomargin">写真</h2>
    <h1 class="nomargin">scenery-catching</h1>

    <!-- <img src="https://drive.google.com/drive-viewer/AKGpihYNRSb5UKDqCJc7gb0fYIMfXzN-J_VLE1h0IAjZmay8bNVHIas9Zw5eWjKbihAU5IpbqO3WuvDRd-nm0-BRo7SyMoEI0LUHisc=s1600-rw-v1" alt="alt image"> -->
    <img src="https://drive.google.com/drive-viewer/AKGpihYNRSb5UKDqCJc7gb0fYIMfXzN-J_VLE1h0IAjZmay8bNVHIas9Zw5eWjKbihAU5IpbqO3WuvDRd-nm0-BRo7SyMoEI0LUHisc=s1600-rw-v1" />
</BaseLayout>

