---
import '../styles/global.css';
import PageLayout from '../layouts/PageLayout.astro';
import Images from './photos/list.json';
---

<style>
    .photocontainer {
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 10px; 
        width: 100%;  
    }
    .imglink {
        border: 1px solid rgba(0,0,0,0.2);
        display: inline-block;
        width:70%;
        cursor: ne-resize;
        overflow:hidden;
        padding: 0px;
        opacity: 1;
        box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2); 
        padding: 10px;
    }
    .imglink:hover {
        opacity: 1;
        background-color:transparent;
        box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4); 
    }
    .imglink:active {
        box-shadow: 0px 10px 10px 0px rgba(150, 33, 2, 0.8); 
    }
    .img {
        display:block;
        width: 100%;
        height: auto;
        object-fit:cover;
    }
    .imgtitle {
        color: black;
        margin-top:3%;
        padding-left:2%;
        padding-bottom: 10px;
    }

    @media screen and (min-width:540px) {
        .imglink {
            width: 40%;
        }
    }

    @media screen and (min-width:800px) {
        .imglink {
            width: 28%;
        }
    }
</style>

<PageLayout siteTabText="photos" pageTitle="photos." pageSubtitle="写真">
    
    <h2 class="title">写真</h2>
    <h1 class="title">scenery-catching</h1>
    
    <p class="foreword justify">
        I have been taking photos with my trusty Huawei P30 Pro since I first got it back in Grade 8.
        Here are some of my favorites. 
        
        <br><br>

        <i>Click the photocards to view the original post at my instagram.</i>
    </p>

    <div class="photocontainer">
        {Images.map((image)=>(
            <a class="imglink floating" href={image.externalURL} target="_blank">
                <img class="img" src={image.imgURL} alt={image.title} />
                <p class="imgtitle">{image.title}</p>
            </a>
        ))}
    </div>
</PageLayout>

