---
import '../styles/global.css';
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';

let id = "1x5N3VfoevTV6EOEp_aw1qYN3jzFjbILw";
let url = "https://drive.google.com/uc?id=1x5N3VfoevTV6EOEp_aw1qYN3jzFjbILw&export=download";
---

<style>
</style>

<BaseLayout pageTitle="photos">
    <h2 class="nomargin">写真</h2>
    <h1 class="nomargin">scenery-catching</h1>
    <h1>C O M I N G . S O O N.</h1>
        <!-- <iframe src="https://drive.google.com/file/d/1x5N3VfoevTV6EOEp_aw1qYN3jzFjbILw/preview" width="640" height="480" allow="autoplay"></iframe> -->
</BaseLayout>

