---
import BaseLayout from "../layouts/BaseLayout.astro"
import '../styles/global.css';

import RedParticles from "../components/playground/RedParticles.astro";
---
<style>
   
</style>

<BaseLayout>
    <RedParticles 
      particleCount={60} 
    />
    
    <h1>Your Content Here</h1>
    <p>This is your landing page content that will appear above the particle animation.</p>
</BaseLayout>
