---
import BaseLayout from "../layouts/BaseLayout.astro"
import '../styles/global.css';

import RedParticles from "../components/playground/RedParticles.astro";
---
<style>
   
</style>

<BaseLayout>
    <p>Welcome to Playground!</p>

    <!-- <p>Currently testing: Molecular viewer with three.js (code by Gemini)</p> -->

    <canvas class="fixed top-0 left-0 -z-10 w-[100%] h-[100%]" id="playground"></canvas>

    <!-- <RedParticles 
      particleCount={60} 
    />
    
    <h1>Your Content Here</h1>
    <p>This is your landing page content that will appear above the particle animation.</p> -->

    <!-- <script>
        import "../scripts/index-playground.js";
    </script> -->
</BaseLayout>
