---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<style>
</style>

<BaseLayout pageTitle="blog">
    <h2 class="nomargin">理由</h2>
    <h1 class="nomargin">bites and bonds</h1>
    <p><i>food recipes, shower thoughts, and everything in between.</i></p>

    <h1>C O M I N G . S O O N.</h1>


</BaseLayout>

