---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<style>
</style>

<BaseLayout pageTitle="/ blog">
    <h1>bites and bonds</h1>
    <p><i>food recipes, shower thoughts, <br>and everything in between</i></p>


    <h1>すみません,</h1>
    <h1>WIP (╯°□°）╯</h1>
</BaseLayout>

