---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const allContent = Object.values(import.meta.glob('./thoughts/*.md', { eager: true }));
---

<style>
    .container {
        margin-top:5%;
    }
    .container a {
        cursor: pointer;
    }
</style>

<BaseLayout pageTitle="blog">
    <h2 class="nomargin bold">理由</h2>
    <h1 class="nomargin bold">bites and bonds</h1>
    <p><i>food recipes, shower thoughts, and everything in between.</i></p>

    <div class="container">
        {allContent.map((post:any)=>(
            <a href={post.url}><h3>{post.frontmatter.title}</h3></a>
        ))}
    </div>    


</BaseLayout>

