---
const { pathname } = Astro.url;
const isHomePage = pathname === '/';

const hamburger_class = isHomePage ? "bg-white" : "bg-flamingo";
---

<style>    
    .hamburger {
        cursor: pointer;
        display:flex;
        flex-direction:column;
        margin-left:auto;
    }
    .hamburger .line {
        display: block;
        width: 25px;
        height: 3px;
        margin-bottom: 5px;
    }

    @media screen and (min-width: 640px) {
        .hamburger {
            display: none;
    }

}
</style>

<div class="hamburger">
    <span class:list={[hamburger_class,"line"]}></span>
    <span class:list={[hamburger_class,"line"]}></span>
</div>