---
import Hamburger from './Hamburger.astro';

const { pathname } = Astro.url;
const isHomePage = pathname === '/';

const navLinks = [
  { href: "/me/", label: "/me" },
  { href: "/tinker/", label: "/tinker"},
  { href: "/thoughts/", label: "/blog" },
  { href: "/photos/", label: "/photos" },
];

const logo_class = isHomePage ?
                   "text-white font-bold tracking-wider hover:[text-shadow:0_3px_8px_white]" :
                   "text-flamingo font-bold tracking-wider hover:[text-shadow:0_3px_8px_var(--color-light2)]";

const logo_class_base = "text-2xl sm:text-3xl";

const navlinks_class = isHomePage ?
                   "text-white sm:bg-none bg-flamingo text-flamingo hover:[text-shadow:0_3px_8px_#fff]" :
                   "text-flamingo sm:bg-none bg-bg1 hover:[text-shadow:0_3px_8px_var(--color-light2)]";

const navlinks_class_base = "!text-lg font-bold tracking-wider hover:underline"

---

<style>
    header {
        padding: 0;
        margin: 2rem 2rem 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    nav {
        position: relative;
    }
    .logo:hover {
        background-color: transparent;
        cursor: pointer;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 180%; /* Position it just below the parent <nav> element */
        right: 0;
        text-align: right;
        opacity: 0;
        pointer-events: none;
        transform: translateX(15px);
        transition: opacity 0.2s ease, transform 0.2s ease;
    }
    .nav-links-a {
        padding: 0.5rem 0.8rem;
        box-shadow: 0 2px 6px black;
        border-radius: 10px;
    }
    a {
        cursor: pointer;
    }

    .expanded {
        gap: 0.1rem;
        opacity: 1;
        transform: translateX(0);
        pointer-events: auto;
    }

    @media screen and (min-width: 640px) {
        header {
            margin: 2rem 4rem 0;
        }

        .nav-links {
            opacity: 1;
            pointer-events: auto;
            position:static;
            display: flex;
            flex-direction: row;
        }

        .nav-links-a {
            background: transparent;
            box-shadow: none;
            padding: 0rem;
            margin-left: 2rem;
            margin-top: 0;
        }
      
        .nav-links br {
            display: none;
        }
        
    }
</style>

<header>
    <a class="logo" href="/">
        <h2 class:list={[logo_class,logo_class_base]}>/d.</h2>
    </a>
    <nav>            
        <Hamburger />

        <div class="nav-links">
            {
                navLinks.map((link)=>{
                    return (
                        <a href={link.href} class:list={[navlinks_class, navlinks_class_base, "nav-links-a"]}>{link.label}</a> <br>
                    )
                })
            }
        </div>
    </nav>    
</header>