---
import '../styles/global.css';
import Hamburger from './Hamburger.astro';
---

<Hamburger />

<div class="nav-links">
    <p>
    <a href="/">root</a> / <br> 
    <a href="/me/">me</a> / <br>
    <a href="/blog/">blog</a> / <br>
    <a href="/photos/">photos</a> /
    </p>
</div>