---
import '../styles/global.css';
import Hamburger from './Hamburger.astro';
---

<style>
    .nav-links {
        margin-top: 1%;
        padding: 0;
    }
    a {
        cursor: pointer;
    }
</style>

<Hamburger />

<div class="nav-links">
    <p>
    <a href="/">root</a> / <br> 
    <a href="/me/">me</a> / <br>
    <a href="/thoughts/">thoughts</a> / <br>
    <a href="/photos/">photos</a> /
    </p>
</div>