---
import '../styles/tailwind.css';
---

<div
  class="prose
  dark:prose-invert
  prose-p:text-justify
  prose-img:rounded-xl
  prose-headings:underline
  prose-code:bg-[#24292e]
  prose-code:text-white
  prose-code:px-1
  prose-code:py-0.5
  prose-code:font-normal
  prose-code:rounded
  prose-code:before:content-none
  prose-code:after:content-none
  ">
  <slot/>
</div>