---
import '../styles/tailwind.css';
import '../styles/global.css';
---

<style>
  .container {
    width:100%;
  }
</style>

<div
  class="container
  prose
  dark:prose-invert
  prose-h1:no-underline
  prose-h2:no-underline
  prose-h3:no-underline
  prose-p:text-justify
  prose-p:my-4 
  prose-img:rounded-xl 
  prose-img:max-w-full
  prose-img:m-0
  prose-blockquote:border-l-4
  prose-blockquote:border-gray-600
  prose-blockquote:pl-4
  prose-blockquote:italic
  prose-headings:underline
  prose-code:bg-[#24292e]
  prose-code:text-white
  prose-code:px-1
  prose-code:py-0.5
  prose-code:font-normal
  prose-code:rounded
  prose-code:before:content-none
  prose-code:after:content-none
  ">
  <slot/>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
      const prose = document.querySelector(".prose");
      const links = prose?.querySelectorAll("a")
      if (links) {
          links.forEach((link) => {
          link.setAttribute("target", "_blank");
          link.setAttribute("rel", "noopener noreferrer");
        });
      }
      
    });
</script>