---
import '../styles/global.css';
const { title , subtitle, route, thumbnail } = Astro.props;
---

<style>
    .tab {
        margin-bottom:20px;
        box-shadow: 0 10px 10px rgba(0,0,0,0.2); 
        border-radius:20px;
        opacity:0.8;
        background-color:transparent;
        /* background-image: radial-gradient(circle at 86% 446%, #ff2929f7 52%, transparent 89.05%); */
    }
    .tab:hover {
        opacity: 1;
    }
    .tab:active {
        box-shadow: 0 10px 10px rgba(150, 33, 2, 0.5);
    }
    .tab h3 {
        padding-top: 2%;
        padding-left: 3%;
        font-weight:bold;
    }
    .tab p {
        padding-left: 3%;
        padding-bottom: 2%;
    }
    .tab a {
        cursor: pointer;
    }
    .tab a:hover {
        background-color:transparent;
    }
    .tab a:active{
        color: var(--mainred);
    }
    .tab img {
        position: relative;
        border-radius: 20px 20px 0px 0px;
        width: 104%;
        max-height: 200px;
        object-fit:cover;
        object-position:top;
        overflow:hidden;
    }
    @media screen and (min-width: 700px) {
        .tab {
            width: 60vw;
        }
    }

</style>

<div class="tab floating">
    <a href={route}>
        <img class="thumbnail ${!thumbnail ? 'hidden' : ''}" src={thumbnail}>
        <h3 class="nomargin noselect">{title}</h3>
        <p class="nomargin noselect">{subtitle}</p>
    </a>
</div>