---
import '../styles/global.css';
const { url, text, isBold, isItalic } = Astro.props;
---
<style>

</style>

<a href={url} style={`
font-weight: ${isBold ? 'bold' : 'normal'};
font-style: ${isItalic ? 'italic' : 'normal'};
`}>{text}</a>