---
import '../styles/global.css';
import '../styles/tailwind.css';
import Header from '../components/Header.astro';
const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>davism / {pageTitle}</title>
		<style>
			.main {
				margin-left:0.5em;
				margin-right:0.5em;
			}
			@media screen and (min-width: 636px) {
				.main {
					margin-left: 2em;
					margin-right: 2em;
				}
			}
		</style>
	</head>
	<body>
		<div class="main">
			<Header />
			<slot />
		</div>
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
