---
import '../styles/global.css';
import Header from '../components/Header.astro';
const { siteTabText } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>davism / {siteTabText}</title>
	</head>
	<body>
		<Header />
		<div class="flex-col justify-start mx-8 my-0 sm:mx-20">
			<slot />
		</div>
		<script>
			import "../scripts/menu.js";
		</script>
	</body>

	<div class="h-8"></div>
</html>
